#!/bin/bash

alias ipinfo="curl ifconfig.me"
alias vim=nvim

# Tempoary ssh; dont save to known hosts
alias tssh="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
alias tscp="scp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"

if type exa &>/dev/null
then
    alias ls='exa'
    alias ll='exa --long --header --git'
    alias lt='exa --long --header --git --icons --tree'
fi

if type powerline-shell &>/dev/null
then
    alias powerline="export POWERLINE=1 && exec zsh -l"
    alias unpowerline="unset POWERLINE && exec zsh -l"
fi

if type prettyping &>/dev/null
then
    alias pping='prettyping --nolegend'
fi

if type bat &>/dev/null
then
    alias preview="fzf --preview 'bat --color \"always\" --theme gruvbox-dark {}'"
    alias cat='bat -pp --theme gruvbox-dark '
    alias less='bat --theme gruvbox-dark '
fi

if type brew &>/dev/null
then
    alias bupdate='brew update && brew upgrade && brew cleanup -s'
fi

if type brew-file &>/dev/null
then
    export HOMEBREW_BREWFILE_APPSTORE=0 
    alias bremote='brew file update'
fi
